*
{
    font-family: 'Poppins', sans-serif;
}
nav
{
    background-color: rgb(0, 132, 255);
    
}
#item{
    color: white;;
}
nav a:hover
{
    font-size: 21px;
    
    border-bottom: 1px solid white;
}
nav a
{
    transition: all 0.3s ease-in-out;
}
.navbar-brand
{
    font-style: bold;
    letter-spacing: 3px;
    padding: 1%; 
}
.navbar-nav
{
    justify-content: space-between;
    flex-basis: 100%;
    font-size: 16px;
}